
Main/sections/hSection/__pycache__/__init__.cpython-39.pyc
Main/sections/iSection/__pycache__/__init__.cpython-39.pyc
Main/sections/tSection/__pycache__/__init__.cpython-39.pyc
Main/sections/uSection/__pycache__/__init__.cpython-39.pyc
Main/sections/lSection/__pycache__/__init__.cpython-39.pyc
Main/sections/cSection/__pycache__/__init__.cpython-39.pyc

Main/__pycache__/widgets.cpython-39.pyc
*.pyc
Main/run_fibra.py
Main/sections/lSection/__pycache__/__init__.cpython-39.pyc
Main/sections/lSection/__pycache__/__init__.cpython-39.pyc
Main/sections/lSection/__pycache__/__init__.cpython-39.pyc
